.marginBottom{
    margin-bottom: 1000px;
}
.boxs{
    padding: 10px 0 0 10px;
}
.iconsClass{
    color: green;
    font-size: larger;
}
.mtmargin{
    margin-top: 7px;
    margin-bottom: 17px;
}
.mainBOX2{
    width: 350px;
}